.App.loading {
  cursor: progress;
}

.main {
  display: flex;
  align-items: flex-start;
}

.accounts {
  flex: 0 0 18rem;
  padding: 0.5rem;
  width: 18rem;
}

.calendar {
  flex-grow: 1;
  padding: 0.5em;
}

@media (max-height: 768px) {
  .calendar {
    font-size: 0.80rem;
  }
}