.App.loading {
  cursor: progress;
}

.main {
  display: flex;
  align-items: flex-start;
}

.accounts {
  flex: 0 0 18rem;
  width: 18rem;
}

.layout-accounts  {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

.calendar {
  flex-grow: 1;
  padding: 0.5em;
}
