.slds-modal__container.event-form-modal {
	max-width: 800px;
}

.event-form-modal-content {
  min-height: 80%;
}

.event-form-modal-content label {
  width: 100%;
}

footer .loading-spinner {
  height: 2em;
  margin-right: 1em;
}
