.account-list {
  display: flex;
  flex-direction: column;
}

.select-wrapper select {
  width: 100%;
}

.select-wrapper {
  display: flex;
  align-items: center;
  /* center loading spinner vertically */
  position: relative;
  /* set stacking context for loading spinner */
}

.select-wrapper .loading-spinner {
  position: absolute;
  right: 1.5em;
  height: 2em;
  width: 2em;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-height: 768px) {
  .accounts {
    padding: .5rem 0 0 .5rem;
  }

  .account-card-list {
    font-size: 0.75rem;
    line-height: 1.1;
  }

  .account-card-list .slds-text-heading--small,
  .account-card-list .slds-text-heading_small {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .slds-card__tile {
    margin-top: .35rem;
  }

  .slds-card__header {
    padding: .25rem 1rem 0;
    margin: 0 0 .25rem;
  }

  .slds-card__body {
    margin-top: .15rem;
    margin-bottom: .15rem;
  }

  slds-p-around--medium,
  .slds-p-around_medium {
    padding: 0.5rem;
  }
}